.service{
    @include flexible ();
    margin-bottom: 120px;
    padding: 0 60px;
    @media all and (max-width: 767px) {
        & {
            padding: 0;
            margin-bottom: 70px;
        } 
    }
    &__link{
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
        text-decoration: none;
        color: var(--white);
        margin-bottom: 120px;
    }
    @media all and (max-width: 1023px) {
        &__link {
            font-size: 20px;
            line-height: 30px;
        }
    } 
    @media all and (max-width: 767px) {
        &__link {
            font-size: 12px;
            line-height: 18px;
            padding: 0 20px;
            margin-bottom: 70px;
        }
    } 
    &__wrapper{
        display: flex;
    }
    @media all and (max-width: 1023px) {
        &__wrapper {
            margin: auto;
            flex-direction: column;
        }
    } 
    @media all and (max-width: 767px) {
        &__wrapper {
            padding: 20px;
        }
    } 
    &__card{
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: var(--dark-card);
        border-radius: 16px;
    }
    &__card:hover{
        background-color: var(--dark-card-hover);
    }
    &__card:nth-child(1) {
        margin-right: 20px;
      }
      @media all and (max-width: 1023px) {
        &__card:nth-child(1) {
            margin-bottom: 20px;
            margin-right: 0;
        }
    } 
    @media all and (max-width: 767px) {
        &__card {
            padding: 20px;
        }
    } 
    &__logo{
        color: var(--grey);
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 20px 0;
    }
    &__title{
        font-size: 32px;
        line-height: 32px;  
        margin: 0 0 40px 0;
    }
    @media all and (max-width: 767px) {
        &__title {
            font-size: 24px;
            line-height: 32px; 
        }
    } 
    &__text{
        color: var(--grey);
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 40px 0;
    }
    @media all and (max-width: 767px) {
        &__text {
            font-size: 12px;
            line-height: 18px; 
            margin: 0 0 100px 0;
        }
    } 
    &__price{
        color: var(--green);
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }
    @media all and (max-width: 767px) {
        &__price {
            font-size: 12px;
            line-height: 18px; 
        }
    } 
}