:root{
    --dark-primary: #47474C;
    --dark-line: #151515;
    --dark-card: #1C1C1E;
    --dark-card-hover: #232327;
    --guarantee-white: #EAEAF0;
    --grey: #8E8E98;
    --green: #25E197;
    --black: #000;
    --white: #FFFFFF;
}