.footer{
    max-width: 1240px;
    margin: auto;
    padding: 60px;
    @media all and (max-width: 767px) {
        & {
            padding: 20px;
        }
    } 
    &__line{
        border: 2px solid var(--dark-line);
        margin-bottom: 65px;
    }
    @media all and (max-width: 1023px) {
        &__line {
            margin-bottom: 60px;
        }
    } 
    @media all and (max-width: 767px) {
        &__line {
            margin-bottom: 30px;
        }
    } 
    &__wrapper{
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 0 90px 0;
        max-width: 1100px;
        box-sizing: border-box;
        padding: 65px 0 0 0;
        border-top: 2px solid var(--dark-line);
    }
    @media all and (max-width: 767px) {
        &__wrapper {
            margin: 0 0 184px 0;
            padding: 30px 0 0 0;
        }
    } 
    &__logo{
        font-size: 22px;
        line-height: 30px;
        margin: 0;
        margin-right: 20px;
    }
    &__news{
        background-color: var(--green);
        color: var(--black);
        border-radius: 4px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        padding: 4px 8px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }
    @media all and (max-width: 1023px) {
        &__bottom {
            flex-direction: column;
            justify-content: start;
        }
    } 
    &__text{
        font-size: 12px;
        line-height: 18px;
        color: var(--dark-primary);
        margin: 0;
    }
    @media all and (max-width: 1023px) {
        &__text:nth-child(1) {
            margin-bottom: 60px;
        }
    } 
    @media all and (max-width: 767px) {
        &__text:nth-child(1) {
            margin-bottom: 40px;
        }
    } 
}