.guarantee{
    @include flexible ();
    margin-bottom: 120px;
    padding: 0 60px;
    @media all and (max-width: 1023px) {
        & {
            padding: 0 60px;
        }
    }
    @media all and (max-width: 767px) {
        & {
            padding: 0 20px;
        }
    }
    &__link{
        font-size: 32px;
        line-height: 40px;  
        font-weight: normal;
        margin: 0;
        margin-bottom: 60px;
    }
    @media all and (max-width: 1023px) {
        &__link {
            font-size: 20px;
            line-height: 30px;
        }
    } 
    @media all and (max-width: 767px) {
        &__link {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 40px;
        }
    }
    &__wrapper{
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(265px, max-content));
            gap: 20px;
    }
    @media all and (max-width: 1023px) {
        &__wrapper {
            width: 550px;
        }
    }
    @media all and (max-width: 767px) {
        &__wrapper {
            width: 280px;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        width: 225px;
        padding: 20px;
        background-color: var(--dark-card);
        border-radius: 16px;
    }
    &__card:hover{
        background-color: var(--dark-card-hover);
    }
    @media all and (max-width: 767px) {
        &__card {
            width: 240px;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: var(--guarantee-white);
        margin: 0;
        margin-bottom: 38px;
    }
    &__text{
        color: var(--grey);
        font-size: 15px;
        line-height: 19px;
        margin: 0;
    }
}