.page {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    min-width: 320px;
    color: #FFFFFF;
    background-color: #000000;
  }
.content{
  max-width: 1440px;
  margin: auto;
}
@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
@import "../blocks/header/header.scss";
@import "../blocks/promo/promo.scss";
@import "../blocks/album/album.scss";
@import "../blocks/intro/intro.scss";
@import "../blocks/service/service.scss";
@import "../blocks/guarantee/guarantee.scss";
@import "../blocks/support/support.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/form/form.scss";